In [24]:
import pandas as pd

# Define the bucket and file names
bucket_name = 'mimicivliza'  # Replace with your bucket name
mimic_iv_bhc = f's3://{bucket_name}/sample_data_100.csv'

# Load the files
mimic_iv_bhc_100 = pd.read_csv(mimic_iv_bhc)

# Display the data
mimic_iv_bhc_100.head(20)

,note_id,input,target,input_tokens,target_tokens
0,16002318-DS-17,<SEX> F <SERVICE> SURGERY <ALLERGIES> Iodine /...,This is a ___ yo F admitted to the hospital af...,1195,75
1,15638884-DS-4,<SEX> M <SERVICE> MEDICINE <ALLERGIES> Augment...,Mr. ___ is a ___ yo man with CAD with prior MI...,3496,1143
2,12435705-DS-14,<SEX> M <SERVICE> MEDICINE <ALLERGIES> ibuprof...,Mr. ___ is a ___ w/ Ph+ve ALL on dasatanib and...,5591,1098
3,12413577-DS-4,<SEX> F <SERVICE> OBSTETRICS/GYNECOLOGY <ALLER...,"On ___, Ms. ___ was admitted to the gynecology...",1119,221
4,17967161-DS-29,<SEX> M <SERVICE> SURGERY <ALLERGIES> lisinopr...,Mr. ___ underwent an angiogram on ___ which sh...,3307,439
5,16956007-DS-20,<SEX> M <SERVICE> SURGERY <ALLERGIES> Codeine ...,Mr. ___ is a ___ who underwent an exploratory ...,4168,1209
6,16919911-DS-15,<SEX> F <SERVICE> MEDICINE <ALLERGIES> Penicil...,This is a ___ year old female with a recent di...,2059,208
7,15682570-DS-25,<SEX> M <SERVICE> MEDICINE <ALLERGIES> No Know...,"___ w/ h/o CAD ___ CABG LIMA to LAD, SVG to D1...",2215,451
8,12135369-DS-24,<SEX> F <SERVICE> MEDICINE <ALLERGIES> Compazi...,Ms ___ is a ___ year old woman with a history ...,2132,416
9,11906321-DS-20,<SEX> M <SERVICE> NEUROSURGERY <ALLERGIES> Pat...,The patient was admitted to the neurosurgery s...,2347,316
10,17384661-DS-20,<SEX> M <SERVICE> UROLOGY <ALLERGIES> No Known...,Mr. ___ was admitted to Dr. ___ Urology servic...,1452,171
11,11162709-DS-18,<SEX> M <SERVICE> MEDICINE <ALLERGIES> Sulfa (...,___ yoM with PMH notable for hx of left ICA an...,2469,420
12,19473355-DS-13,<SEX> M <SERVICE> SURGERY <ALLERGIES> No Known...,Mr. ___ is a ___ year old male with AAA who wa...,1593,259
13,14711846-DS-15,<SEX> F <SERVICE> MEDICINE <ALLERGIES> Gold Sa...,Ms. ___ was admitted for diagnosis and treatme...,3140,415
14,18094090-DS-35,<SEX> F <SERVICE> MEDICINE <ALLERGIES> Penicil...,Patient is a ___ year old woman with history o...,2346,528
15,16047293-DS-34,<SEX> M <SERVICE> MEDICINE <ALLERGIES> Penicil...,___ year-old male with PMH of diastolic heart ...,1747,144
16,15690160-DS-11,<SEX> F <SERVICE> NEUROLOGY <ALLERGIES> No Dru...,Her neuro exam has been asymptomatic since adm...,2438,18
17,18477272-DS-18,<SEX> F <SERVICE> OBSTETRICS/GYNECOLOGY <ALLER...,"On ___, Ms. ___ was admitted to the gynecology...",1192,154
18,10476129-DS-14,<SEX> F <SERVICE> MEDICINE <ALLERGIES> No Know...,BRIEF COURSE: ___ with limited PMH presented w...,2998,1119
19,19868904-DS-20,<SEX> F <SERVICE> NEUROLOGY <ALLERGIES> No Kno...,Ms. ___ was admitted to the neurology service ...,2072,221

In [25]:
icml= mimic_iv_bhc_100['note_id']

In [26]:
icml.head(5)

0    16002318-DS-17
1     15638884-DS-4
2    12435705-DS-14
3     12413577-DS-4
4    17967161-DS-29
Name: note_id, dtype: object

In [27]:
# Convert icml (currently a Series) to a DataFrame
icml = icml.to_frame(name='note_id')

# Display the first few rows of the new DataFrame
print(icml.head())

          note_id
0  16002318-DS-17
1   15638884-DS-4
2  12435705-DS-14
3   12413577-DS-4
4  17967161-DS-29

In [28]:
# Save the DataFrame to a CSV file
icml.to_csv('icml.csv', index=False)

print("DataFrame saved as icml.csv!")

DataFrame saved as icml.csv!

In [29]:
import pandas as pd

# Define the bucket and file names
bucket_name = 'mimicivliza'  # Replace with your bucket name
discharge = f's3://{bucket_name}/discharge.csv'

# Load the files
discharge = pd.read_csv(discharge)

# Display the data
discharge.head(2)

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...

In [30]:
discharge.nunique()

note_id       331793
subject_id    145914
hadm_id       331793
note_type          1
note_seq         177
charttime      35387
storetime     329891
text          331792
dtype: int64

In [31]:
import pandas as pd

# Assuming you already have the two DataFrames: `icml` and `discharge`

# Example: `icml` DataFrame containing note_id
# icml = pd.DataFrame({'note_id': [331793, 123456]})

# Filter `discharge` to keep only rows where note_id matches icml's note_id
filtered_discharge = discharge[discharge['note_id'].isin(icml['note_id'])]

# Select only the `note_id` and `subject_id` columns
result = filtered_discharge[['note_id', 'subject_id']]

# Display or save the result
print(result)

# Optional: Save the filtered result to a CSV file
result.to_csv('filtered_discharge.csv', index=False)

               note_id  subject_id
4497    10144359-DS-15    10144359
10976    10342550-DS-8    10342550
14946   10476129-DS-14    10476129
15969   10508292-DS-19    10508292
20494    10641243-DS-9    10641243
...                ...         ...
324580   19788295-DS-8    19788295
324689  19791816-DS-12    19791816
327013  19859533-DS-16    19859533
327347  19868904-DS-20    19868904
330557  19960839-DS-17    19960839

[100 rows x 2 columns]

In [32]:
result.head(5)

              note_id  subject_id
4497   10144359-DS-15    10144359
10976   10342550-DS-8    10342550
14946  10476129-DS-14    10476129
15969  10508292-DS-19    10508292
20494   10641243-DS-9    10641243

### Take records with only the following note id and subject ids

In [38]:
import pandas as pd

# Define the bucket and file names
bucket_name = 'mimicivliza'  # Replace with your bucket name
diagnoses_icd = f's3://{bucket_name}/diagnoses_icd.csv'
dict_diagnosis_icd = f's3://{bucket_name}/d_icd_diagnoses.csv'
dict_procedures_icd = f's3://{bucket_name}/d_icd_procedures.csv'
procedures_icd = f's3://{bucket_name}/procedures_icd.csv'
prescriptions= f's3://{bucket_name}/prescriptions.csv'

# Load the files
diagnoses_icd = pd.read_csv(diagnoses_icd)
procedures_icd = pd.read_csv(procedures_icd)
prescriptions_icd = pd.read_csv(prescriptions)
dict_diagnosis_icd = pd.read_csv(dict_diagnosis_icd)
dict_procedures_icd = pd.read_csv(dict_procedures_icd)

In [39]:
diagnoses_icd.head(5)

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10035185  22580999        3     4139            9
1    10035185  22580999       10     V707            9
2    10035185  22580999        1    41401            9
3    10035185  22580999        9     3899            9
4    10035185  22580999       11    V8532            9

In [40]:
# Keep only the subject_id and icd_version columns
diagnoses_icd = diagnoses_icd[['subject_id', 'icd_version', 'icd_code']]

# Display the resulting dataframe
diagnoses_icd.head(5)

   subject_id  icd_version icd_code
0    10035185            9     4139
1    10035185            9     V707
2    10035185            9    41401
3    10035185            9     3899
4    10035185            9    V8532

In [47]:
# Merge the dataframes on icd_code and icd_version
merged_df_diagnosis = diagnoses_icd.merge(dict_diagnosis_icd, on=["icd_code", "icd_version"], how="left")

merged_df_diagnosis.head(5)

,subject_id,icd_version,icd_code,long_title
0,10035185,9,4139,Other and unspecified angina pectoris
1,10035185,9,V707,Examination of participant in clinical trial
2,10035185,9,41401,Coronary atherosclerosis of native coronary ar...
3,10035185,9,3899,Unspecified hearing loss
4,10035185,9,V8532,"Body Mass Index 32.0-32.9, adult"

In [4]:
procedures_icd.head(3)

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10011398  27505812        3  2146-12-15     3961            9
1    10011398  27505812        2  2146-12-15     3615            9
2    10011398  27505812        1  2146-12-15     3614            9

In [7]:
dict_procedures_icd.head(3)

  icd_code  icd_version                                  long_title
0     0039            9             Other computer assisted surgery
1     0048            9   Insertion of four or more vascular stents
2     0074            9  Hip bearing surface, metal-on-polyethylene

In [12]:
procedures_icd.head(5)

   subject_id   hadm_id  seq_num   chartdate icd_code  icd_version
0    10011398  27505812        3  2146-12-15     3961            9
1    10011398  27505812        2  2146-12-15     3615            9
2    10011398  27505812        1  2146-12-15     3614            9
3    10014729  23300884        4  2125-03-23     3897            9
4    10014729  23300884        1  2125-03-20     3403            9

In [48]:
# Merge the dataframes on icd_code and icd_version
merged_df_procedures = procedures_icd.merge(dict_procedures_icd, on=["icd_code", "icd_version"], how="left")

merged_df_procedures.head(5)

,subject_id,hadm_id,seq_num,chartdate,icd_code,icd_version,long_title
0,10011398,27505812,3,2146-12-15,3961,9,Extracorporeal circulation auxiliary to open h...
1,10011398,27505812,2,2146-12-15,3615,9,Single internal mammary-coronary artery bypass
2,10011398,27505812,1,2146-12-15,3614,9,(Aorto)coronary bypass of four or more coronar...
3,10014729,23300884,4,2125-03-23,3897,9,Central venous catheter placement with guidance
4,10014729,23300884,1,2125-03-20,3403,9,Reopening of recent thoracotomy site

In [49]:
# Keep only the subject_id and icd_version columns
merged_df_procedures = merged_df_procedures[['subject_id', 'icd_version', 'icd_code', 'long_title']]

In [50]:
merged_df_procedures.head(10)

,subject_id,icd_version,icd_code,long_title
0,10011398,9,3961,Extracorporeal circulation auxiliary to open h...
1,10011398,9,3615,Single internal mammary-coronary artery bypass
2,10011398,9,3614,(Aorto)coronary bypass of four or more coronar...
3,10014729,9,3897,Central venous catheter placement with guidance
4,10014729,9,3403,Reopening of recent thoracotomy site
5,10014729,9,3404,Insertion of intercostal catheter for drainage
6,10014729,9,3452,Thoracoscopic decortication of lung
7,10014729,9,3845,"Resection of vessel with replacement, thoracic..."
8,10014729,9,0390,Insertion of catheter into spinal canal for in...
9,10014729,9,0391,Injection of anesthetic into spinal canal for ...

In [51]:
merged_df_diagnosis.head(5)

,subject_id,icd_version,icd_code,long_title
0,10035185,9,4139,Other and unspecified angina pectoris
1,10035185,9,V707,Examination of participant in clinical trial
2,10035185,9,41401,Coronary atherosclerosis of native coronary ar...
3,10035185,9,3899,Unspecified hearing loss
4,10035185,9,V8532,"Body Mass Index 32.0-32.9, adult"

In [54]:
prescriptions_icd.tail(100)

,subject_id,hadm_id,pharmacy_id,poe_id,poe_seq,order_provider_id,starttime,stoptime,drug_type,drug,...,gsn,ndc,prod_strength,form_rx,dose_val_rx,dose_unit_rx,form_val_disp,form_unit_disp,doses_per_24_hrs,route
17987,10015931,22130791,46852861,10015931-1115,1115.0,P95GFA,2177-03-29 13:00:00,2177-03-29 22:00:00,MAIN,HYDROmorphone (Dilaudid),...,062823,4.091283e+08,1mg/1mL Syringe,NaN,0.25-0.5,mg,0.25-0.5,SYR,NaN,IV
17988,10035631,21476294,19546043,10035631-882,882.0,P25YV8,2115-11-10 06:00:00,2115-11-11 12:00:00,MAIN,HYDROmorphone (Dilaudid),...,062823,4.091283e+08,1mg/1mL Syringe,NaN,0.25-0.5,mg,0.25-0.5,SYR,NaN,IV
17989,10019777,27738145,22469948,10019777-244,244.0,P98U99,2187-02-15 07:00:00,2187-02-16 14:00:00,MAIN,HYDROmorphone (Dilaudid),...,062823,4.091283e+08,1mg/1mL Syringe,NaN,0.25-0.5,mg,0.25-0.5,SYR,NaN,IV
17990,10039708,23819016,77753911,10039708-1144,1144.0,P44Z0T,2140-06-18 03:00:00,2140-06-19 22:00:00,MAIN,HYDROmorphone (Dilaudid),...,062823,4.091283e+08,1mg/1mL Syringe,NaN,0.25-0.5,mg,0.25-0.5,SYR,NaN,IV
17991,10005866,20364112,88653208,10005866-953,953.0,P27Q66,2149-10-03 18:00:00,2149-10-04 18:00:00,MAIN,HYDROmorphone (Dilaudid),...,062823,4.091283e+08,1mg/1mL Syringe,NaN,0.25-0.5,mg,0.25-0.5,SYR,NaN,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18082,10038081,20755971,33730068,10038081-378,378.0,P92KOD,2115-10-11 14:00:00,2115-10-13 07:00:00,MAIN,Artificial Tears,...,030016,2.305060e+07,0.4 mL DROPPERETTE,NaN,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18083,10002428,23473524,87358294,10002428-780,780.0,P71IN4,2156-05-12 13:00:00,2156-05-22 18:00:00,MAIN,Artificial Tears,...,030016,2.305060e+07,0.3mL UD,NaN,1-2,DROP,0.1667-0.3333,DRP,NaN,BOTH EYES
18084,10040025,27996267,81941017,10040025-1640,1640.0,P52ORO,2148-01-26 19:00:00,2148-01-26 18:00:00,MAIN,OxyCODONE (Immediate Release),...,046474,9.046446e+08,15mg Tablet,NaN,5-10,mg,0.3333-0.6667,TAB,NaN,PO/NG
18085,10014354,26228185,46019806,10014354-3105,3105.0,P748G6,2150-05-01 01:00:00,2150-05-01 09:00:00,MAIN,Carbamide Peroxide 6.5%,...,008120,7.811207e+10,15mL Bottle,NaN,5-10,DROP,0.3333-0.6667,BTL,1.0,BOTH EARS
18086,10004457,25559382,44047546,10004457-443,443.0,P65SRP,2148-09-14 17:00:00,2148-09-15 17:00:00,MAIN,Acetaminophen,...,065758,1.211971e+08,650mg UD Cup,NaN,500-1000,mg,0.7692-1.5385,UDCUP,NaN,PO/NG

In [55]:
prescriptions_icd = prescriptions_icd[['subject_id', 'drug', 'prod_strength']]

In [56]:
prescriptions_icd.head(5)

   subject_id              drug prod_strength
0    10027602  Fentanyl Citrate           NaN
1    10027602  Fentanyl Citrate           NaN
2    10027602         Lorazepam           NaN
3    10027602         Midazolam           NaN
4    10027602         Midazolam           NaN

In [60]:
# Finding common subject_id across the three dataframes
common_subject_ids = set(merged_df_procedures['subject_id']) & \
                     set(merged_df_diagnosis['subject_id']) & \
                     set(prescriptions_icd['subject_id'])

# Filtering dataframes to include only rows with common subject_id
common_df_procedures = merged_df_procedures[merged_df_procedures['subject_id'].isin(common_subject_ids)]
common_df_diagnosis = merged_df_diagnosis[merged_df_diagnosis['subject_id'].isin(common_subject_ids)]
common_df_prescriptions = prescriptions_icd[prescriptions_icd['subject_id'].isin(common_subject_ids)]

# Print the common subject IDs
print("Common Subject IDs:", common_subject_ids)

Common Subject IDs: {10014729, 10007058, 10039831, 10018328, 10009628, 10018845, 10006053, 10016810, 10021938, 10006580, 10019385, 10002495, 10019917, 10020944, 10027602, 10032725, 10037861, 10003046, 10021487, 10015860, 10018423, 10022017, 10025612, 10031757, 10014354, 10038933, 10022041, 10000032, 10037928, 10012853, 10015931, 10019003, 10039997, 10018501, 10023117, 10038992, 10017492, 10037975, 10038999, 10040025, 10008287, 10029291, 10004720, 10019568, 10007795, 10010867, 10004733, 10021118, 10011398, 10007818, 10004235, 10026255, 10018081, 10021666, 10031404, 10005817, 10001725, 10038081, 10001217, 10023239, 10020187, 10023771, 10005348, 10019172, 10010471, 10005866, 10026354, 10007928, 10013049, 10014078, 10020740, 10008454, 10012552, 10022281, 10005909, 10016150, 10039708, 10035631, 10027445, 10036156, 10021312, 10019777, 10004422, 10003400, 10009035, 10020306, 10022880, 10016742, 10004457, 10035185, 10025463, 10002428}

In [59]:
# Count the unique common subject IDs
unique_common_subject_ids_count = len(common_subject_ids)

# Print the count
print("Number of unique common Subject IDs:", unique_common_subject_ids_count)

Number of unique common Subject IDs: 92

In [66]:
# Merging the filtered dataframes on the common subject IDs
combined_df = (
    common_df_procedures
    .merge(common_df_diagnosis, on="subject_id", how="outer", suffixes=('_procedures', '_diagnosis'))
    .merge(common_df_prescriptions, on="subject_id", how="outer", suffixes=('', '_prescriptions'))
)

# Display the resulting dataframe
print("Combined DataFrame with unique common Subject IDs and all columns:")

Combined DataFrame with unique common Subject IDs and all columns:

AttributeError: 'DataFrame' object has no attribute 'nrows'

In [67]:
len(combined_df)

32162158

In [68]:
combined_df.head(10)

,subject_id,icd_version_procedures,icd_code_procedures,long_title_procedures,icd_version_diagnosis,icd_code_diagnosis,long_title_diagnosis,drug,prod_strength
0,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Tiotropium Bromide,18mcg Capsule-Inhalation Device
1,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Tiotropium Bromide,18mcg Capsule-Inhalation Device
2,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Tiotropium Bromide,18mcg Capsule-Inhalation Device
3,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Albuterol 0.083% Neb Soln,0.083%;3mL Vial
4,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Sulfameth/Trimethoprim DS,DS Tablet
5,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Furosemide,20mg Tablet
6,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Furosemide,20mg Tablet
7,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Furosemide,40mg Tablet
8,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Furosemide,40mg Tablet
9,10000032,9,5491,Percutaneous abdominal drainage,9,2761,Hyposmolality and/or hyponatremia,Heparin,5000 Units / mL- 1mL Vial

In [70]:
grouped_combined_df = combined_df.groupby('subject_id').agg({
    'icd_code_procedures': lambda x: list(x.unique()),    # List of unique procedure codes
    'long_title_procedures': lambda x: list(x.unique()),  # List of unique procedure descriptions
    'icd_code_diagnosis': lambda x: list(x.unique()),     # List of unique diagnosis codes
    'long_title_diagnosis': lambda x: list(x.unique()),   # List of unique diagnosis descriptions
    'drug': lambda x: ', '.join(map(str, x.unique())),    # Convert to strings and concatenate drugs
    'prod_strength': lambda x: ', '.join(map(str, x.unique()))  # Convert to strings and concatenate strengths
}).reset_index()

# Display the result
grouped_combined_df.head(5)

,subject_id,icd_code_procedures,long_title_procedures,icd_code_diagnosis,long_title_diagnosis,drug,prod_strength
0,10000032,[5491],[Percutaneous abdominal drainage],"[2761, V08, 2875, 3051, 5715, 496, 07071, 7895...","[Hyposmolality and/or hyponatremia, Asymptomat...","Tiotropium Bromide, Albuterol 0.083% Neb Soln,...","18mcg Capsule-Inhalation Device, 0.083%;3mL Vi..."
1,10001217,"[0331, 0139, 3897]","[Spinal tap, Other incision of brain, Central ...","[V168, V161, 04109, 3485, 4019, 3484, 3240, 34...",[Family history of other specified malignant n...,"Vial, Bag, OxycoDONE (Immediate Release) , *NF...","Send Vial, 50 mL Bag, 5mg Tablet, 1g Vial, 500..."
2,10001725,"[7094, 7055, 8696]","[Insertion of biological graft, Repair of rect...","[49390, 7291, 6185, 56400, 5641, E9352, 6186, ...","[Asthma, unspecified type, unspecified, Myalgi...","Zolpidem Tartrate, Bag, Lorazepam, Ondansetron...","5mg Tablet, 50 mL Bag, 1mg Tablet, 0.5mg Table..."
3,10002428,"[9390, 0DJD8ZZ, 7915, 9672, 9604, 3891, 3897, ...","[Non-invasive mechanical ventilation, Inspecti...","[4019, 29281, 4240, 00845, 1122, 7102, 73300, ...","[Unspecified essential hypertension, Drug-indu...","Insulin, Multivitamins, Neutra-Phos, Oxycodone...","Dummy Package for Sliding Scale, 1 Tablet, Pow..."
4,10002495,"[4A023N7, 027034Z, 5A02210, 4A023N6, 3E1K78Z, ...","[Measurement of Cardiac Sampling and Pressure,...","[R310, N179, Z7901, Z86718, I214, A047, Z23, K...","[Gross hematuria, Acute kidney failure, unspec...","Insulin, Bag, Lidocaine Jelly 2% (Urojet), Ato...","100 Units / mL - 10 mL Vial, 50 mL Bag, 5mL Ur..."

In [72]:
len(grouped_combined_df)

92

In [73]:
# Save the grouped dataframe to a CSV file
grouped_combined_df.to_csv('grouped_combined_df.csv', index=False)

print("The dataframe has been saved as 'grouped_combined_df.csv'.")

The dataframe has been saved as 'grouped_combined_df.csv'.